.list-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list-partners li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.partners-img {
  max-height: 16px;
}

@media screen and (min-width: 480px) {
  .partners-img {
    max-height: 18px;
  }
}

@media screen and (min-width: 640px) {
  .partners-img {
    max-height: 20px;
  }
}

@media screen and (min-width: 960px) {
  .partners-img {
    max-height: 31px;
  }
}