.social {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -2px;
}

.social > * {
  padding: 0 2px;
}

.social > li {
  list-style-type: none;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer {
  max-width: 177px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-size-footer {
  height: 15px;
  width: auto;
}

.social-bg {
  width: 30px;
  height: 30px;
  background-color: #f1f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-bg:hover {
  background-color: #77c344;
}

@media screen and (min-width: 480px) {
  .icon-size-footer {
    height: 20px;
  }
  .social-bg {
    width: 40px;
    height: 40px;
  }
}